# Serveur Express
PORT=5000

# Base de données PostgreSQL
DB_HOST=localhost
DB_PORT=5433
DB_NAME=ai_travel_assistant
DB_USER=postgres
DB_PASSWORD=motdepasse

# Sécurité & Authentification JWT
JWT_SECRET=votre_cle_jwt_secrete
JWT_REFRESH_SECRET=votre_cle_refresh_secrete

# Intelligence Artificielle - DeepSeek
DEEPSEEK_API_KEY=votre_cle_deepseek
DEEPSEEK_BASE_URL=https://api.deepseek.com
DEEPSEEK_MODEL=deepseek-chat

# Base Vectorielle - Pinecone
PINECONE_API_KEY=votre_cle_pinecone
PINECONE_INDEX=travel-places
PINECONE_EMBEDDING_MODEL=llama-text-embed-v2
PINECONE_DIMENSION=1024
